<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="jumbotron">
<div class="navbar">
  <a class="navbar-brand" routerLink="/">
    <i class="fa fa-fw fa-home"></i> {{title}}</a>
</div>
</div>
<router-outlet></router-outlet>


