<div class="jumbotron">
  <div class="title">
    <p>Search travel</p>
  </div>
  <div class="wrapper">
    <div id="container">
      <label>From
        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Source" class="form-control" id="source" [formControl]="source"
                 [matAutocomplete]="auto">
          <b class="alert" *ngIf="!source.valid && source.touched"> Value is required</b>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let city of cities" [value]="city.nameCity">
              {{city.nameCity}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </label>
      <label>To
        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Destination" class="form-control" [formControl]="destination"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let city of cities" [value]="city.nameCity">
              {{city.nameCity}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </label>
      <label>Start
        <mat-form-field>
          <input matInput type="date" class="form-control" [formControl]="start">
        </mat-form-field>
      </label>
      <button class="buton1" mat-button id="searchButton" type="submit" [disabled]="(!start.valid)||(!source.valid)||(!destination.valid)" (click)="submit()">
        Search
      </button>
    </div>
  </div>
  <div *ngIf="idTicketBuy==null">
    <div *ngIf="travels?.length > 0">
      <h1 style="text-align: center">Results:</h1>
      <table class="blueTable">
        <thead class="thead">
        <tr>
          <th scope="col">Nr</th>
          <th scope="col">Id travel</th>
          <th scope="col">Number travel</th>
          <th scope="col">Departure date</th>
          <th scope="col">Arrival date</th>
          <th scope="col">Price</th>
          <th scope="col">Free places</th>
          <th scope="col">Book</th>
          <th scope="col">Are you student?</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let travel of travels; let i = index">
          <th scope="row">{{i + 1}}</th>
          <td>  {{travel.idTravel}}</td>
          <td>  {{travel.travelNumber}}</td>
          <td>{{travel.departureDate| date:'EEEE, MMMM d, yyyy h:mm a'}}</td>
          <td>{{travel.arrivalDate| date:'EEEE, MMMM d, yyyy h:mm a'}}</td>
          <td>{{travel.basePrice}} $</td>
          <td>{{travel.freePlaces}}</td>
          <td>
            <button class="buton2" type="button" class="btn btn-danger" (click)="buy(travel)">Book now</button>
          </td>
          <td><input type="hidden" [name]="reduction" value="0"/>
            <input type="checkbox" [(ngModel)]="reduction" [value]="1"></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="not_found_content" *ngIf="travels?.length == 0">
      <p>Sorry, results not found ! :(</p>
      <p>Try again!</p>
    </div>
  </div>
  <div *ngIf="idTicketBuy!=null">
    <div class="reser">
      <p>Date of travel: {{dateTravel| date:'EEEE, MMMM d, yyyy h:mm a'}}
    <p>Yours reservation number:</p>
    <p>{{idTicketBuy}}</p>
    <p>Your cost:</p>
      <p>{{price}}$</p>
    <p>Pay with the driver!</p>
    <p>Have a nice trip :)</p>
  </div>
  </div>
</div>
