.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.title{
  margin-top: 12vh;
  font-family: Verdana ;
  text-align: center;
  font-size: 32px;
}


.example-full-width {
  width: 25%;
}

.reser {
  font-family: Verdana ;
  text-align: center;
  font-size: 30px;
}
.jumbotron {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  border-radius: 0;
  margin-bottom: 0;
}


@media (max-width: 768px) {
  .wrapper {
    margin-top: 60px;
    border-radius: 5px;
    color: white;
    padding: 20px;
    background-color: rgba(0, 248, 222, 0.8);
  }
}
.form-control {
  font-weight: 700;
  font-size: 14px;
  text-overflow: ellipsis;
  text-align: center;
}

@media (min-width: 768px) {
  .wrapper {
    font-size: 18px;
    margin-top: 10vh;
    border-radius: 5px;
    color: white;
    padding: 20px;
    background-color: rgba(43, 45, 47, 0.8);
  }
}

table.blueTable {
  border: 1px solid #0da498;
  background-color: #EEEEEE;
  width: 70%;
  text-align: center;
  border-collapse: collapse;
  margin: auto;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 15px;
}
table.blueTable thead {
  background: #11c1b1;
  background: -moz-linear-gradient(top, #64c1a6 0%, #33acad 66%, #1b7f7c 100%);
  background: -webkit-linear-gradient(top, #64c1a6 0%, #33acad 66%, #1b7f7c 100%);
  background: linear-gradient(to bottom, #64c1a6 0%, #33acad 66%, #1b7f7c 100%);
 /* border-bottom: 2px solid #444444;*/
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}

.ng-invalid:not(form).ng-touched, .ng-invalid:not(form).ng-dirty {
  border: 1px solid red;
}

.not_found_content {
  margin-top: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
  font-family: Verdana;
  transform: translate(-50%, -50%);
}


select, input {
  color: black;
}
.buton1:disabled {
  opacity: 0.3;
  background-color: #47c084; /* Green */
  border: none;
  color: white;
  padding: 8px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 2px;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(89, 89, 89, 0.2), 0 6px 20px 0 rgba(91, 91, 91, 0.19);
}
.buton1 {
  background-color: #47c084; /* Green */
  border: none;
  color: white;
  padding: 8px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 2px;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(89, 89, 89, 0.2), 0 6px 20px 0 rgba(91, 91, 91, 0.19);
}

.disabled {

  cursor: pointer;
}
.buton2{
  display: inline-block;
  padding: 4px 6px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #11af9f;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #119679;
}

.invalid {
  border: 1px solid #ff0000;
}

.alert {
  border: 1px solid #ff0000;
}
