<h1>Tu są rezultaty</h1>
  <table class="table table-striped">
    <thead class="thead">
    <tr>
      <th scope="col">Id travel</th>
      <th scope="col">Travel number</th>
      <th scope="col">Departure date</th>
      <th scope="col">Arrival date</th>
      <th scope="col">base price</th>
      <th scope="col">free places</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let travel of travels">
      <th scope="row"></th>
      <td>{{travel.idTravel}}</td>
      <td>{{travel.travelNumber}}</td>
      <td>{{travel.departureDate}}</td>
      <td>{{travel.arrivalDate}}</td>
      <td>{{travel.basePrice}}</td>
      <td>{{travel.freePlaces}}</td>
        <!--<button type="button" class="btn btn-danger" (click)="endRent(vehicle)">Zakończ Wynajem</button>-->
    </tr>
  </tbody>
</table>

