<form>
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Miasta" aria-label="Text" matInput [formControl]="mycontrol" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let city of cities" [value]="city">
        {{city.nameCity}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>


<!--
<div idTravel="collapse1"  class="panel-collapse collapse in" *ngIf="loadedfeature === 'collapse1'">
<ul class="list-group">
  <li class="list-group-item" *ngFor="let cuisine of cuisines">{{ cuisine }} </li>
</ul>
</div>
 <option *ngFor="let _class of _classes" [value]="_class">
                      {{_class}}
                    </option>




-->
